.ai-bg-color-black{
    background-color: #000000;
}
.ai-bg-color-blacklight{
    background-color: #1f1f1f;
}
.ai-sony-logo{
    max-height: 30px;
}
.ai-see-border{ /* da rimuovere in seguito */
    border: 2px dashed red;
}